<a href="https://colab.research.google.com/github/godsonhenry/Reinforcement-Learning/blob/main/reinforce_learning_MABP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The code is based on instruction on https://www.analyticsvidhya.com/blog/2018/09/reinforcement-multi-armed-bandit-scratch-python/

1ï¼‰ random search

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random
import math

In [13]:
dataset = pd.read_csv('Ads_Optimisation.csv')

In [15]:
dataset.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [31]:

total_reward_list=[]
for e in range(0,20):
  N = 10000
  d = 10
  ads_selected = []
  total_reward=0
  for n in range(0,N):
    ad=random.randrange(d)
    ads_selected.append(ad)
    reward=dataset.values[n,ad]
    total_reward=total_reward+reward
  total_reward_list.append(total_reward)

In [32]:
total_reward_list

[1211,
 1201,
 1221,
 1248,
 1204,
 1254,
 1245,
 1194,
 1262,
 1207,
 1246,
 1275,
 1165,
 1266,
 1221,
 1233,
 1212,
 1223,
 1239,
 1220]

In [23]:
pd.Series(ads_selected).value_counts(normalize=True)

4    0.1056
7    0.1041
6    0.1010
9    0.1002
1    0.0993
3    0.0992
5    0.0986
8    0.0980
2    0.0977
0    0.0963
dtype: float64

2) upper confidence bound

In [34]:
total_reward_list=[]
for e in range(0,20):
  N = 10000
  d = 10
  ads_selected = []
  numbers_of_selections = [0] * d
  sums_of_reward = [0] * d
  total_reward = 0
  for n in range(0,N):
    ad=0
    max_upper_bound=0
    for i in range(0,d):
      if (numbers_of_selections[i])>0:
        average_reward=sums_of_reward[i]/numbers_of_selections[i]
        delta_i=math.sqrt(2*math.log(n+1)/numbers_of_selections[i])
        upper_bound=average_reward+delta_i
      else:
        upper_bound=1e400
      if upper_bound>max_upper_bound:
        max_upper_bound=upper_bound
        ad=i
    ads_selected.append(ad)
    numbers_of_selections[ad]+=1
    reward = dataset.values[n,ad]
    sums_of_reward[ad] += reward
    total_reward += reward
  total_reward_list.append(total_reward)

In [35]:
total_reward_list

[2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125,
 2125]

In [38]:
pd.Series(ads_selected).value_counts(normalize = True)

4    0.5630
7    0.1106
0    0.0947
6    0.0435
1    0.0417
3    0.0380
8    0.0352
2    0.0338
9    0.0215
5    0.0180
dtype: float64

In [44]:
  N = 100
  d = 10
  ads_selected = []
  numbers_of_selections = [0] * d
  sums_of_reward = [0] * d
  total_reward = 0
  for n in range(0,N):
    ad=0
    max_upper_bound=0
    for i in range(0,d):
      if (numbers_of_selections[i])>0:
        average_reward=sums_of_reward[i]/numbers_of_selections[i]
        delta_i=math.sqrt(2*math.log(n+1)/numbers_of_selections[i])
        upper_bound=average_reward+delta_i
      else:
        upper_bound=99999
      if upper_bound>max_upper_bound:
        max_upper_bound=upper_bound
        ad=i
    print(ad)
    print(upper_bound)
    print(max_upper_bound)
    ads_selected.append(ad)
    numbers_of_selections[ad]+=1
    reward = dataset.values[n,ad]
    sums_of_reward[ad] += reward
    total_reward += reward

0
99999
99999
1
99999
99999
2
99999
99999
3
99999
99999
4
99999
99999
5
99999
99999
6
99999
99999
7
99999
99999
8
99999
99999
9
99999
99999
0
2.189929347170073
3.189929347170073
1
2.2293078072747154
2.2293078072747154
2
2.2649279712439143
2.2649279712439143
3
2.2974147773596556
2.2974147773596556
4
2.3272516843273356
2.3272516843273356
5
2.3548200450309493
2.3548200450309493
6
2.380425736735434
2.380425736735434
7
2.4043176819614187
2.4043176819614187
8
2.426701044284788
2.426701044284788
9
2.4477468306808166
2.4477468306808166
0
1.7448559934055943
2.2448559934055945
0
1.7581360736183977
1.7688454262484519
1
1.7707326777153998
1.7707326777153998
2
1.782709687623856
1.782709687623856
3
1.7941225779941015
1.7941225779941015
4
1.8050198165176699
1.8050198165176699
5
1.815443985917585
1.815443985917585
6
1.8254326912201402
1.8254326912201402
7
1.835019299622343
1.835019299622343
8
1.8442335485675765
1.8442335485675765
9
1.853102049128743
1.853102049128743
8
1.5200298029533776
1.853363136286711
0
1.5267629288719495
1.5722154819594423
8
1.5332667792692747
1.5778479816259392
1
1.5395557934004673
1.5395557934004673
2
1.5456431106945117
1.5456431106945117
3
1.5515407208415393
1.5515407208415393
4
1.5572595929444746
1.5572595929444746
5
1.5628097871312099
1.5628097871312099
6
1.5682005513993709
1.5682005513993709
6
1.5734404059690998
1.6126393629101405
7
1.5785372170215834
1.5785372170215834
7
1.5834982613807027
1.6213497212041796
7
1.5883302834356716
1.6303153472046525
9
1.5930395453912036
1.5930395453912036
7
1.383589786838768
1.4630296636937086
0
1.3874702882782857
1.4409911525405905
6
1.3912586048085904
1.4443795258534096
8
1.3949588341794583
1.4476891116156503
1
1.3985748112682685
1.3985748112682685
2
1.402110129897849
1.402110129897849
3
1.405568162449162
1.405568162449162
4
1.408952077529985
1.408952077529985
4
1.4122648559254518
1.4631680880333027
4
1.4155093050263694
1.4890918411587455
4
1.418688071905722
1.5009988074960743
5
1.4218036551919802
1.4218036551919802
9
1.424858415869173
1.424858415869173
4
1.277111967511967
1.3846456610991946
7
1.2797413117067216
1.3672931002550741
0
1.2823219352679438
1.3372610832165537
0
1.2848555381902032
1.3716154105272338
6
1.2873437344224008
1.3418453376768147
8
1.289788057528782
1.3440766891821414
4
1.2921899658944325
1.2964748678610287
1
1.2945508475183856
1.2945508475183856
2
1.2968720244327836
1.2968720244327836
3
1.2991547567824409
1.2991547567824409
5
1.301400246595529
1.301400246595529
9
1.3036096412729326
1.3036096412729326
0
1.192012286995023
1.282312922160877
7
1.1939662361245196
1.2840050917447234
7
1.195890106594023
1.309773516532647
6
1.1977847738226555
1.2517903616636767
8
1.1996510761517714
1.2535182218722245
4
1.201489816892113
1.2306700102921906
7
1.2033017662323506
1.2320735402159728
0
1.2050876630200797
1.206172178796301
1
1.206848216425333
1.206848216425333
1
1.208584107495748
1.2617886018423763
2
1.2102959906117234
1.2102959906117234
3
1.2119844948491507
1.2119844948491507
5
1.2136502252566563
1.2136502252566563
9
1.2152937640536838
1.2152937640536838
1
1.1266449886391918
1.1788798860034189
6
1.1281270567061277
1.180266233736007
8
1.1295900797134437
1.181634766446593
4
1.1310345219536477
1.1749806955503939
7
1.1324608312030853
1.176118496720323
7
1.1338694394896827
1.1993404224431035
7
1.1352607638168233
1.2176690357195479
7
1.1366352068463228
1.1608653196392662
7
1.1379931575432323
1.1773973238229605
0
1.1393349917849953
1.153236044458035
2
1.140661072937286
1.140661072937286
3
1.1419717523986854
1.1419717523986854
5
1.1432673701161926
1.1432673701161926
9
1.1445482550734118
1.1445482550734118
7
1.0718115331221472
1.1328852032246202
7
1.0729830131446736
1.1478249804273828